body {
  text-align: center;
  background-color: #0f0f0f;
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 20px;
}


h1, h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: #FF0000;
}

h2 {
  color: #FF0000; /* cor vermelha */
}

.filmes_dc h1, .dc-titulo, .series-titulo {
  color: #800080; /* cor roxa */
}

.filmes, .series, .filmes_dc, .series_dc {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filme, .serie {
  margin: 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.filme h2, .serie h2 {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  color: #f9f6fa;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.filme iframe, .serie iframe, .filme img, .serie img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.filme p, .serie p {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  color: white;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.series_dc {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
}

.series_dc .serie {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
}

.series_dc .serie h2 {
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.series_dc .serie p {
  padding: 10px;
  border-radius: 0 0 10px 10px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}